{% extends "layout.html.twig" %}

{% block title %}Vos cours collectifs à Mérignac{% endblock %}

{% block content %}
		<section id="pres">
			
			<div class="container">
				
				<div style="visibility: visible;" class="row ligne1 wow">
					
					<div class="col-sm-6">
						<img src="../web/images/web_shutterstock_189888596_Cour-Co.jpg" alt="Cours collectifs" class="img-responsive img-full-width">
					</div>

					<div class="col-sm-6">

						<h2>Cours Collectifs</h2>

						<p>Les cours collectifs Ex æquo sont des créations des 
							professeurs. Ils sont développés en adéquation avec le concept et les 
							valeurs de la salle. Les professeurs individualisent leurs cours.
						</p>
						<p>Ils tiennent compte de chaque personne présente et de ses 
							spécificités : antécédents sportifs, problèmes de santé, etc. Les cours 
							proposés permettent de se concentrer plus particulièrement sur le 
							cardio, l’endurance, le renforcement musculaire ou sur les étirements. 
						</p>

					</div>
					

				</div>
				
				<h1 class="text-center" style="font-size: 3em;font-size:32px;margin-top:80px;">Prestations</h1>
					
				<div class="panel panel-default cours">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<p class="nom-cours">Zumba :</p>
								<p class="desc-cours">Programme d'entraînement physique combinant des élements d'aérobic et de la danse s'inspirant principalement de danses latines.</p>
							</div>
							<div class="col-md-6">
								<p class="nom-cours">African Dance « ADR » :</p>
								<p class="desc-cours">Programme d'entraînement physique combinant des élements d'aérobic et de la danse s'inspirant principalement de danses africaines.</p>
							</div>
						</div> 
						<div class="row">
							<div class="col-md-6">
								<p class="nom-cours">Cardio :</p>
								<p class="desc-cours">Cours mi-cardio mi-renforcement, dans le but d'améliorer l'endurance et la force.</p>
							</div>
							<div class="col-md-6">
								<p class="nom-cours">CAF :</p>
								<p class="desc-cours">Méthodes de renforcement musculaire ciblé sur les cuisses, abdominaux et fessiers.</p>
							</div>
						</div> 
						<div class="row">
							<div class="col-md-6">
								<p class="nom-cours">Renfo :</p>
								<p class="desc-cours">Cours de renforcement et de tonification de l'ensemble des groupes musculaires, dans le but d'améliorer la condition physique générale.</p>
							</div>
							<div class="col-md-6">
								<p class="nom-cours">Stretching :</p>
								<p class="desc-cours">Méthodes d'étirement jouant sur la contraction et le relâchement des muscles étirés.</p>
							</div>
						</div> 
						<div class="row">
							<div class="col-md-6">
								<p class="nom-cours">STEP :</p>
								<p class="desc-cours">Cours cardio collectifs chorégraphiés avec une marche comme accessoire.</p>
							</div>
						</div>
						<!--<div class="row">
							<div class="col-md-6 col-sm-offset-3">
								<p class="nom-cours" style="font-style:italic;">Cours "mystère" :</p>
								<p class="desc-cours" style="font-style:italic;">Cours parmi ceux proposés ou un mix de tous les cours ci-dessus au libre choix du professeur.</p>
							</div>
							<div class="col-md-6"></div>
						</div>-->
					 </div>
				</div>
				
				<div class="text-center" style="margin-top:70px">
					<a href="Planning-Exaequo.pdf" class="btn btn-info" role="button" style=" background-color: #40a2c0; border-color: #40a2c0; "><strong>Télécharger le planning des cours</strong></a>
				</div>
			</div>

		</section>
{% endblock %}