{% extends "layout.html.twig" %}

{% block title %}Vos cours de Yoga à Mérignac{% endblock %}

	{% block content %}
		<section id="pres">
			
			<div class="container">
				
				<div style="visibility: hidden;" class="row ligne4 wow">					

					<div class="col-sm-6">
						<img src="../images/cours_yoga.jpg" alt="yoga" class="img-responsive img-full-width">
					</div>

					<div class="col-sm-6">

						<h2>Yoga</h2>

							<p>Le yoga est une discipline qui a pour objectif, par la méditation, l’ascèse morale et les exercices physiques, d'unifier le corps et l’esprit.
							</p>
							<p>La pratique régulière de Yoga permet de conserver et de retrouver une bonne santé physique, émotionnelle et spirituelle en développant la force, la souplesse, la concentration et l’endurance.
							</p>
							
					</div>

				</div>
				
				<h1 class="text-center" style="font-size: 3em;font-size:32px;margin-top:80px;">Votre coach</h1>
				
				<div class="panel panel-default cours" style="background-color:#00af4e;">
					<div class="panel-body">
						<div style="font-size: 16px;margin:30px 30px 30px 30px">
							<h3>Marianne MALLAT-LASSALLE</h3>

							<p style="margin-top:50px">
							« J'ai commencé à pratiquer le Hatha Yoga à Montréal à 19 ans, et un peu plus tard, j'ai découvert l'Ashtanga Yoga. Actuellement, j'enseigne le Hatha Yoga.
							</p>
							<p>
							J'utilise toutes les nombreuses techniques du Hatha Yoga et je propose plusieurs niveaux de posture ainsi que des enchaînements personnalisés plus ou moins toniques en fonction des pratiquant(e)s du moment. 
							</p>
							<p>
							Je suis maintenant très heureuse de développer mes compétences au sein des Ecoles Nationales de Professeurs de Yoga en formant des futurs professeurs de Yoga. Les techniques enseignées dans cette école correspondent tout à fait à la philosophie traditionnelle du Yoga avec un profond respect du corps et de l'esprit. 
							</p>
							<p>
							Je suis spécialisée au Yoga Pré et Post natal méthode Dr. Bernadette de Gasquet et propose des cours particuliers aux futures et jeunes mamans pour mieux vivre la grossesse et retrouver plus facilement la forme après l’arrivée de bébé.
							</p>
							<p>
							Toujours en soif d'apprendre et d'approfondir mes connaissances, j'emprunte un chemin d'évolution perpétuelle. »
							</p>
							
							<p style="margin-top:50px">
								<dl class="dl-horizontal">
									<dt style="text-align: left;">Formations</dt>
									<dd>Ecole Nationale des professeurs de YOGA</dd>
									<dd>Spécialisation en pré-post natal (formation Dr Bernadette de Gasquet)</dd>
									<dd>Formatrice à l’ENPY</dd>
								</dl>
							</p>
						</div>					
					 </div>
				</div>
				
				<div class="text-center" style="margin-top:70px">
					<a href="Planning-Exaequo.pdf" class="btn btn-info" role="button" style=" background-color: #00af4e; border-color: #00af4e; "><strong>Télécharger le planning des cours</strong></a>
				</div>

			</div>

		</section>
{% endblock %}