{% extends "layout.html.twig" %}

{% block title %}Vos cours de Pilates à Mérignac{% endblock %}

{% block content %}
		<section id="pres">
			
			<div class="container">
				
				<div style="visibility: visible;" class="row ligne4 wow">
					

					<div class="col-sm-6">

						<h2>Pilates</h2>

						<p>La méthode Pilates est une méthode douce de renforcement des muscles posturaux permettant une meilleure utilisation des muscles superficiels en vue d'une amélioration de notre vie au quotidien. 
							Ceci est fait en harmonie avec la respiration et un travail de mobilisation articulaire. 
						</p>
						<p>
						Voici les 6 clefs pour comprendre et ressentir tous les bénéfices de cette méthode : 
						<ul style="font-size: 16px;">
						<li>Concentration</li><li>Centrage</li><li>Respiration</li><li>Contrôle</li><li>Précision</li><li>Fluidité</li>
						</ul>
						</p>

					</div>
					
					<div class="col-sm-6">
						<img src="../web/images/cours_pilates.jpg" alt="Cours pilates" class="img-responsive img-full-width">
						<blockquote>
							<p>C'est l'esprit lui-même qui se bâtit un corps.</p>
							<small><cite>Joseph Pilates</cite></small>
						</blockquote>
					</div>

				</div>
				
				<h1 class="text-center" style="font-size: 3em;font-size:32px;margin-top:80px;">Votre coach</h1>
				
				<div class="panel panel-default cours" style="background-color:#00af4e;">
					<div class="panel-body">
						<div style="font-size: 16px;margin:30px 30px 30px 30px">
							<h3>Julie BEAUSOLEIL</h3>
							
							<p style="margin-top:50px">
							« Ayant un passé de Gymnaste et de Handballeuse, j&#39;ai toujours voulu faire du sport mon métier.
							</p>
							<p>
							Le BAC obtenu à 19 ans , j&#39;ai donc décidé de partir sur Toulouse pour entrer au CREPS afin d&#39;y passer le
							Brevet d&#39;Etat des Métiers de la Forme. Après les tests d&#39;entrée validés, 9 mois de formation intense
							et enfin le diplôme en poche, cela fait maintenant 11 ans que j&#39;enseigne en salle de remise en forme;
							11 années enrichissantes de formations. »
							</p>
							
							<p style="margin-top:50px">
								<dl class="dl-horizontal">
									<dt style="text-align: left;">Formations</dt>
									<dd>Instructeur PIlates Matwork 1 *</dd>
									<dd>BE Métiers de la forme</dd>
									<dd>BPJJEPS AAN ( Maître Nageur )</dd>
									<dd>Instructeur LES MILLS : Body Pump / Body Attack / Body Combat / Body Balance / Sh&#39;Bam / Grit</dd>
									<dd>Aqua Dynamic et Aqua Work *</dd>
									<dd>Instructeur TRX *</dd>
								</dl>
							</p>
						</div>					
					 </div>
				</div>
				
				<div class="text-center" style="margin-top:70px">
					<a href="Planning-Exaequo.pdf" class="btn btn-info" role="button" style=" background-color: #00af4e; border-color: #00af4e; "><strong>Télécharger le planning des cours</strong></a>
				</div>
			</div>

		</section>
{% endblock %}