{% extends "layout.html.twig" %}

{% block title %}L'équipe de votre salle de sport{% endblock %}

	{% block content %}
		<section style="visibility: hidden; animation-name: none;" id="team" class="wow bounceInLeft">

			<div class="container">
			
				<h1 class="text-center">Notre équipe</h1>

				<p class="text-center">Quel que soit votre niveau, vous êtes considéré de manière unique et égale. Le staff de notre salle de sport est composé de sportifs de haut niveau, qualifés et diplômés. Disponibles, ils vous suivent de manière qualitative et individuelle, dès votre inscription. Grâce à des méthodes professionnelles et un carnet de suivi, vous êtes accompagné dans votre pratique du sport.</p>
				
				<div class="row" style="margin-top:60px;">
					<div class="col-sm-6 col-md-4 zoom">
						<div class="thumbnail">
							<img src="../web/images/Sylvain.jpg" alt="...">
							<div class="caption text-center">
								<h2>Sylvain Zanchettin</h2>	
								<p>Directeur-Associé,<br><small>vice-champion de France FCSAD, Compétiteur National, Monitorat et CQP Savate Boxe Française</small></p>							
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 zoom">
						<div class="thumbnail">
							<img src="../web/images/Brian.jpg" alt="...">
							<div class="caption text-center">
								<h2>Bryan Charge</h2>								
								<p>Directeur Sportif- Associé,<br><small>champion du monde de 
									Savate Boxe Française, Kick-boxing et Full-Contact, Champion de France 
									de Force Athlétique, BEES SBF et HACUMESE</small></p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 zoom">
						<div class="thumbnail">
							<img src="../web/images/Julie.jpg" alt="...">
							<div class="caption text-center">
								<h2>Julie Maraval</h2>								
								<p>Référent Cours Collectifs,<br><small>10 ans d’expérience, DEUST Métiers de la Forme</small></p>
							</div>
						</div>
					</div>
					<!--<div class="col-sm-6 col-md-3 zoom">
						<div class="thumbnail">
							<img src="../images/Fanny.jpg" alt="...">
							<div class="caption text-center">
								<h2>Fanny Delmas</h2>								
								<p>Membre du Staff Technique<br><small>En formation BPJEPS AGFF</small></p>
							</div>
						</div>
					</div>-->
				</div>

			</div>
			
		</section>
		{% endblock %}