{% extends "layout.html.twig" %}

{% block title %}Vos cours de fitness, cardio, musculation et préparation physique à Mérignac{% endblock %}

{% block content %}
		<section id="pres">
			
			<div class="container">			

				<div style="visibility: hidden;" class="row ligne3 wow">
										
					<div class="col-sm-6">

						<h2>Fitness / Cardio-musculation / Préparation physique</h2>

						<p>Ex æquo met à disposition une aire d’entraînement de 300 m2 
							avec des équipements spécifiques, complets et de haute qualité. 
							L’entraînement est suivi par des professeurs, sportifs de haut niveau.
						</p>
						<p>Ils établissent des programmes personnalisés et adaptés au 
							rythme de chacun. Les évolutions sont encouragées avec respect, 
							convivialité et esprit d’entraide.
						</p>
						
					</div>

					<div class="col-sm-6">
						<img src="../images/web_shutterstock_316312706-min-v1_MUSCU-FITNESS.jpg" alt="fitness" class="img-responsive img-full-width">
					</div>


				</div>
				
				<h1 class="text-center" style="font-size: 3em;font-size:32px;margin-top:80px;">Prestations</h1>
				
				<div class="panel panel-default cours" style="background-color:#c83c33;">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<p class="nom-cours">Espace cardio training :</p>
								<p class="desc-cours">Plateau d'amélioration de la condition physique et cardio vasculaire équipé de tapis de course, vélos, elliptiques et rameurs, Gamme FENIX de la marque PANATTA.</p>
							</div>
							<div class="col-md-6">
								<p class="nom-cours">Espace musculation charges libres :</p>
								<p class="desc-cours">Plateau équipé de barres et d'haltères de musculation permettant l'entretien de tous les groupes musculaires, 700 kg de poids, haltères de 5 à 25 kg, plateau d'haltérophilie, etc.</p>
							</div>
						</div> 
						<div class="row">
							<div class="col-md-6">
								<p class="nom-cours">Espace musculation charges guidées :</p>
								<p class="desc-cours">Plateau équipé de machines "PANATTA" de musculation, permettant l'entretien de tous les groupes musculaires: biceps, triceps, abdominaux, adducteurs, abducteurs, jungle machine, cage à squat, etc.</p>
							</div>
							<div class="col-md-6">
								<p class="nom-cours">Espace préparation physique :</p>
								<p class="desc-cours">Plateau dédié équipé d'éléments d'haltérophilie, accessoires et marquages au sol, cage avec accessoires, heavy bags de 6 à 20 kg, wall ball, slam ball, corde à grimper, plyobox, etc.</p>
							</div>
						</div> 
						<div class="row">
							<div class="col-md-6">
								<p class="nom-cours">Crosstraining :</p>
								<p class="desc-cours">Méthodologies de préparation physique en nombre restreint permettant une mobilisation de tous les groupes musculaires, grâce à des exercices athlétiques et cardiovasculaires avec ou sans charge additionnelle.</p>
							</div>
						</div>
					 </div>
				</div>
				
				<div class="text-center" style="margin-top:70px">
					<a href="Planning-Exaequo.pdf" class="btn btn-info" role="button" style=" background-color: #c83c33; border-color: #c83c33; "><strong>Télécharger le planning des cours</strong></a>
				</div>

			</div>

		</section>
{% endblock %}