{% extends "layout.html.twig" %}

{% block title %}Vos cours de fitness, cardio, musculation et préparation physique à Mérignac{% endblock %}

{% block content %}

 <p>Merci Pigeon !</p>
 <img src="../web/images/pigeon.png">


{% endblock %}