{% extends "layout.html.twig" %}

{% block title %}Vos cours de fitness, cardio, musculation et préparation physique à Mérignac{% endblock %}

{% block content %}
<center>
 <p class="merci">Merci, votre commande est validé !</p>
</center>



{% endblock %}