{% extends "layout.html.twig" %}

{% block title %}Vos cours de fitness, cardio, musculation et préparation physique à Mérignac{% endblock %}

{% block content %}

 <p>Reviens avec un peu plus d'argent. !</p>
 <img href="../web/images/pigeon.png">


{% endblock %}