{% extends "layout.html.twig" %}

{% block title %}Vos cours de fitness, cardio, musculation et préparation physique à Mérignac{% endblock %}

{% block content %}
<center>
 <p class="merci">Votre commande à échoué, veuillez recommancer.</p>
</center>


{% endblock %}