{% extends "layout.html.twig" %}

{% block title %}Vos cours de fitness, cardio, musculation et préparation physique à Mérignac{% endblock %}

{% block content %}
<section style="visibility: hidden; animation-name: none;" id="partenaires" class="wow bounceInLeft">

			<div class="container content">
			
				<h1 class="text-center">Nos partenaires</h1>
				
				<p class="text-center" style="margin-top:40px;">Ex æquo construit des partenariats commerciaux afin d’offrir à ses clients le meilleur service en développant des synergies gagnantes.</p>
				
				<div class="row" style="margin-top:40px;">
					<div class="col-md-6 col-md-offset-3">
						<div class="testimonials">
							<div class="active item">
							  <blockquote><p>Boutique de vente de matériel et d'équipement pour arts martiaux et sports de combat.</p></blockquote>
							  <div class="carousel-info">
								<img alt="" src="../images/arts-et-combats-logo.jpg" class="pull-left">
								<div class="pull-left">
								  <span class="testimonials-name">Arts et combats</span>
								  <span class="testimonials-post"><a href="http://www.artsetcombats.com/">Site web</a></span>
								</div>
							  </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-md-offset-3" style="margin-top:70px;">
						<div class="testimonials">
							<div class="active item">
							  <blockquote><p>Sport Avenir Aquitaine est un centre de formation qui propose des formations professionnelles de qualité à la logique de la prévention Sport-Santé.</p></blockquote>
							  <div class="carousel-info">
								<img alt="" src="../images/sportaquitaine.png" class="pull-left">
								<div class="pull-left">
								  <span class="testimonials-name">Sport Avenir Aquitaine</span>
								  <span class="testimonials-post"><a href="http://www.sportaveniraquitaine.com/">Site web</a></span>
								</div>
							  </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-md-offset-3" style="margin-top:70px;">
						<div class="testimonials">
							<div class="active item">
							  <blockquote><p>Courtier d'assurances indépendant spécialisé dans l'assurance et le crédit.</p></blockquote>
							  <div class="carousel-info">
								<img alt="" src="../images/chatel_assurances.png" class="pull-left">
								<div class="pull-left">
								  <span class="testimonials-name">Châtel assurances</span>
								  <span class="testimonials-post"><a href="http://www.chatel-assurances.fr/">Site web</a></span>
								</div>
							  </div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		</section>
{% endblock %}