{% extends "layout.html.twig" %}

{% block title %}Vos cours de fitness, cardio, musculation et préparation physique à Mérignac{% endblock %}

{% block content %}

<body id="reserv">
<h1>Reserver votre place</h1>
<!--LISTE DES FILTRE-->

	<div id="filtre" class="container-fluid">
		<div class="col-md-12">
			<div class="row">
				<h2>Filtrer par: </h2>
					<div class="col-md-2">
						<h3>Discipline</h3>
							<select class="form-control">
								<?php
									for($i=1; $i<=60; $i++){
								?>
								<option><?php echo $i; ?></option>
								<?php
								}
								?>
						</select>
					</div>
					<div class="col-md-2">
					<h3>Intensité</h3>
						<select class="form-control">
							<?php
								for($i=1; $i<=4; $i++){
							?>
							<option><?php echo $i; ?></option>
							<?php
							}
							?>
					</select>
				</div>
			</div>
		</div>
	</div>

	<!--PAGITATION JOUR + SEMAINE-->
	<div id="pagination" class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<nav aria-label="Page navigation">
					<ul class="pagination pagination-lg">
						<li>
							<a {#"{{ path('voirUser', {id: user.id}) }}"#}>Semaine precedente</a>
							</li>
							<li><a href="#">Lundi</a></li>
							<li><a href="#">Mardi</a></li>
							<li><a href="#">Mercredi</a></li>
							<li><a href="#">Jeudi</a></li>
							<li><a href="#">Vendredi</a></li>
							<li><a href="#">Samedi</a></li>
							<li><a href="#">Dimanche</a></li>
							<li>
							<a href={#"{{ path('voirUser', {id: user.id}) }}"#}>Semaine suivante</a>
						</li>
					</ul>
				</nav>	
			</div>
		</div>
	</div>

	<!--PLANING-->
	<div id="planning" class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				{# {% for reserv in planning %}
				<div id="planning" class="col-md-1 bg-primary text-white" name="heure"> {% reserv.date_cours %} </div> 
				<div id="planning" class="col-md-2 bg-secondary text-white" name="duree"> {% reserv.duree %} </div> 
				<div id="planning" class="col-md-3 bg-success text-white" name="cours"> {% reserv.cours_id %}</div> 
				<div id="planning" class="col-md-3 bg-danger text-white" name="intensite">{% reserv.intensite %}</div> 
				<div id="planning" class="col-md-3 bg-warning text-white"><a href="#">Reserver</a></div>
				{% endfor %}	#}	
			</div>
		</div>
	</div>

</body>	
{% endblock %}
