{% extends "layout.html.twig" %}

{% block title %}Vos cours de fitness, cardio, musculation et préparation physique à Mérignac{% endblock %}

{% block content %}

<!--LISTE DES FILTRE-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<p>4 inputs pour les filtres à ajouté</p>
			</div>
		</div>
	</div>

	<!--PAGITATION JOUR + SEMAINE-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<a>semaine precedente</a> <a>LISTE DES JOURS</a> <a>semaine suivante</a>
			</div>
		</div>
	</div>

	<!--PLANING-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-1">Heur</div>
				<div class="col-md-2">Durée</div>
				<div class="col-md-3">Intensité</div>
				<div class="col-md-3">Cour</div>
				<div class="col-md-3">Reserver</div>
			</div>
		</div>
	</div>



			
		
			
	
{% endblock %}
