{% extends "layout.html.twig" %}

{% block title %}Vos cours de fitness, cardio, musculation et préparation physique à Mérignac{% endblock %}

{% block content %}
		<section id="tarif">
			
			<div style="visibility: hidden; animation-name: none;" class="container wow bounceInRight">
			
				<h1 class="text-center">Formules &laquo;Abonnement 12 mois&raquo;</h1>

				<div class="row" >
					
<<<<<<< HEAD
					<a href="www.google.fr"><div class="col-md-3 col-sm-6 zoom">
						<!--<img src="../images/web_Fotolia_80960258_XXL_prix.jpg" alt="À la séance" class="img-responsive img-full-width">-->
						<div  class="bloc-tarif" style="margin-bottom:0px">
=======
					<a href="{{ path('achatPaypal', {id:1}) }}"><div class="col-md-3 col-sm-6 zoom" class="surlignement">
						<!--<img src="../images/web_Fotolia_80960258_XXL_prix.jpg" alt="À la séance" class="img-responsive img-full-width">-->
						<div  class="bloc-tarif">
>>>>>>> fa1f52c2dd368de56fe6aeea4f60b5c39d23780e
							<h2 class="header background-orange">Club</h2>
							<img class="center-block" src="../web/images/img_prix_club_orange.png"/>
							<div><img class="paypal1" src="../web/images/paypal.png"/></div>
							<ul class="fa-ul tarif-description" style="text-align: left;font-size:16px">
							  <li><i class="fa-li fa fa-asterisk li-orange"></i>
							    <span>Musculation</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-orange"></i>
							    <span>Cours-co / <img src="../web/images/lesmills.jpg"/></span>
							  </li>
							  <li style="font-size:13px">
							    <span>Hit Boxing & No Contact</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-orange"></i>
							    <span>Suivi Personnalisé</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-orange"></i>
							    <span>Service Serviette</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-orange"></i>
							    <span>Report Abo. 1 mois</span>
							  </li>
							</ul>
							
							<div class="prix background-orange">
								<h3 class="prix-euros"><span class="prix-cents" style="vertical-align: baseline;font-size: 25%;margin-right:10px"></span><span style="line-height:1.2;">34<span class="prix-cents" style="vertical-align: super;font-size:40%;">€</span><span class="prix-cents" style="vertical-align: super;font-size: 40%;">90<span class="prix-cents" style="vertical-align: super;font-size: 35%;">TTC</span></span></span><span class="prix-month" style="font-size:25%;">par mois</span></h3>
							</div>
						</div>
						</a>

						<div>
							<ul class="fa-ul tarif-description" style="text-align:left;font-size:12px;color:white">
							  <li><i class="fa-li fa fa-asterisk li-orange"></i>
							    <span>Pack heures creuses 24€90 par mois</span>
							  </li>
							  <li style="font-size:11px;">
							    <span>9h30 - 11h30 / 14h30 - 17h00</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-orange"></i>
							    <span>Pack etudiants -10€ par mois</span>
							  </li>
							</ul>
						</div>
					</div>

<<<<<<< HEAD
					<a href="www.google.fr"><div class="col-md-3 col-sm-6 zoom">
=======
					<a href="{{ path('achatPaypal', {id:2}) }}"><div class="col-md-3 col-sm-6 zoom">
>>>>>>> fa1f52c2dd368de56fe6aeea4f60b5c39d23780e
						<!--<img src="../images/web_Fotolia_80960258_XXL_prix.jpg" alt="À la séance" class="img-responsive img-full-width">-->
						<div class="bloc-tarif">
							<h2 class="header background-blue">Master</h2>
							<img class="center-block" src="../web/images/master.png"/>
							<div><img class="paypal2" src="../web/images/paypal.png"/></div>
							<h3 style="text-align: center;">Pack Club</h3>
							<span class="glyphicon glyphicon-plus" style="text-align: center;margin-top:20px"></span>
							<ul class="fa-ul tarif-description" style="text-align: left;font-size:16px">
							  <li><i class="fa-li fa fa-asterisk li-blue"></i>
							    <span>Cross-Training</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-blue"></i>
							    <span>Boxe</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-blue"></i>
							    <span>Open Vendredis</span>
							  </li>
							  <li style="font-size:13px; margin-bottom:60px">
							    <span>Vendredis gratuits pour 1 ami</span>
							  </li>
							</ul>
							<div class="prix background-blue">
								<h3 class="prix-euros"><span class="prix-cents" style="vertical-align: baseline;font-size: 25%;margin-right:10px"></span><span style="line-height:1.2;">39<span class="prix-cents" style="vertical-align: super;font-size:40%;">€</span><span class="prix-cents" style="vertical-align: super;font-size: 40%;">90<span class="prix-cents" style="vertical-align: super;font-size: 35%;">TTC</span></span></span><span class="prix-month" style="font-size:25%;">par mois</span></h3>
							</div>
						</div>
					</div></a>
					
<<<<<<< HEAD
					<a href="www.google.fr"><div class="col-md-3 col-sm-6 zoom">
=======
					<a href="{{ path('achatPaypal', {id:3}) }}"><div class="col-md-3 col-sm-6 zoom">
>>>>>>> fa1f52c2dd368de56fe6aeea4f60b5c39d23780e
						<!--<img src="../images/web_Fotolia_80960258_XXL_prix.jpg" alt="À la séance" class="img-responsive img-full-width">-->
						<div class="bloc-tarif">
							<h2 class="header background-green">Elite</h2>
							<img class="center-block" src="../web/images/elite.png"/>
							<div><img class="paypal3" src="../web/images/paypal.png"/></div>
							<h3 style="text-align: center;">Pack Master</h3>
							<span class="glyphicon glyphicon-plus" style="text-align: center;margin-top:20px"></span>
							<ul class="fa-ul tarif-description" style="text-align: left;font-size:16px">
							  <li><i class="fa-li fa fa-asterisk li-green"></i>
							    <span>Pilates</span>
							  </li>
							  <li style="font-size:13px">
							    <span>Accès en illimité au cours</span>
							  </li>
							  <li style="font-size:13px">
							    <span>Cours de Pilates en Small Group</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-green"></i>
							    <span>Functional Training</span>
							  </li>
							  <li style="font-size:13px">
								<span>Conçu en fonction de vos envies</span>
							  </li>
							  <li style="font-size:13px; margin-bottom:35px">
								<span>WODs Personnalisés</span>
							  </li>
							</ul>
							<div class="prix background-green">
								<h3 class="prix-euros"><span class="prix-cents" style="vertical-align: baseline;font-size: 25%;margin-right:10px"></span><span style="line-height:1.2;">44<span class="prix-cents" style="vertical-align: super;font-size:40%;">€</span><span class="prix-cents" style="vertical-align: super;font-size: 40%;">90<span class="prix-cents" style="vertical-align: super;font-size: 35%;">TTC</span></span></span><span class="prix-month" style="font-size:25%;">par mois</span></h3>
							</div>
						</div>
					</div></a>
					
<<<<<<< HEAD
					<a href="www.google.fr"><div class="col-md-3 col-sm-6 zoom">
=======
					<a href="{{ path('achatPaypal', {id:4}) }}"><div class="col-md-3 col-sm-6 zoom">
>>>>>>> fa1f52c2dd368de56fe6aeea4f60b5c39d23780e
						<div class="bloc-tarif">
							<h2 class="header background-yellow">Premium</h2>
							<img class="center-block" src="../web/images/premium.png"/>
							<div><img class="paypal4" src="../web/images/paypal.png"/></div>
							<h3 style="text-align: center;">Pack Elite</h3>
							<span class="glyphicon glyphicon-plus" style="text-align: center;margin-top:20px"></span>
							<ul class="fa-ul tarif-description" style="text-align: left;font-size:16px">
							  <li><i class="fa-li fa fa-asterisk li-yellow"></i>
							    <span>Coaching Privé</span>
							  </li>
							  <li style="font-size:13px">
							    <span>x1 Coaching privé semaine</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-yellow"></i>
							    <span>Bilan de cond. physique</span>
							  </li>
							 <li style="font-size:13px">
								<span>Expertise & Analyse</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-yellow"></i>
							    <span>P.P.G / P.P.O / P.P.S</span>
							  </li>
							  <li style="font-size:13px">
								<span>Préparation Physique</span>
							  </li>
							  <li style="font-size:13px; margin-bottom:40px">
								<span>Générale/Orientée/Spécifique</span>
							  </li>
							</ul>
							<div class="prix background-yellow">
								<h3 class="prix-euros"><span class="prix-cents" style="vertical-align: baseline;font-size: 25%;margin-right:10px"></span><span style="line-height:1.2;">89<span class="prix-cents" style="vertical-align: super;font-size:40%;">€</span><span class="prix-cents" style="vertical-align: super;font-size: 40%;">90<span class="prix-cents" style="vertical-align: super;font-size: 35%;">TTC</span></span></span><span class="prix-month" style="font-size:25%;">par mois</span></h3>
							</div>
						</div>
					</div></a>

				</div>
				
				<h1 class="text-center">Formules &laquo;Sans abonnement&raquo;</h1>
				
				<div class="row">

					<div class="col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-0 zoom">
						<!--<img src="../images/web_Fotolia_80961022_XXL_prix.jpg" alt="Location salle et matériel" class="img-responsive img-full-width">-->
						<div class="bloc-tarif">
							<h2 class="header background-purple">Pass</h2>
							<img class="center-block" src="../web/images/img_prix_pass.png"/>
							<ul class="fa-ul tarif-description" style="text-align: left;font-size:16px">
							  <li><i class="fa-li fa fa-asterisk li-purple"></i>
							    <span>x1 Accès</span>
							  </li>
							</ul>
							<div class="prix background-purple" style="margin-top:37px">
								<h3 class="prix-euros"><span style="line-height:1.2;">10<span class="prix-cents" style="vertical-align: super;font-size:40%;">€</span><span class="prix-cents" style="vertical-align: super;font-size: 40%;">00<span class="prix-cents" style="vertical-align: super;font-size: 35%;">TTC</span></span></span></h3>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6 zoom">
						<!--<img src="../images/web_Fotolia_80961022_XXL_prix.jpg" alt="Location salle et matériel" class="img-responsive img-full-width">-->
						<div class="bloc-tarif">
							<h2 class="header background-light-blue">Coaching</h2>
							<img class="center-block" src="../web/images/img_prix_coach.png"/>
							<ul class="fa-ul tarif-description" style="text-align: left;font-size:16px">
							  <li><i class="fa-li fa fa-asterisk li-light-blue"></i>
							    <span>x1 Coaching</span>
							  </li>
							  <li style="font-size:13px">
							    <span>Séance (x1)</span><span>35€</span>
							  </li>
							  <li style="font-size:13px; margin-bottom:35px">
								<span>Séances (x10)</span><span>250€</span>
							  </li>
							</ul>
							<div class="prix background-light-blue">
								<h3 class="prix-euros"><span class="prix-cents" style="vertical-align: baseline;font-size: 25%;margin-right:10px">A partir de</span><span style="line-height:1.2;">25<span class="prix-cents" style="vertical-align: super;font-size:40%;">€</span><span class="prix-cents" style="vertical-align: super;font-size: 40%;">00<span class="prix-cents" style="vertical-align: super;font-size: 35%;">TTC</span></span></span><span class="prix-month" style="font-size:25%;">la séance</span></h3>
							</div>
						</div>
					</div>

				</div>
				
				<div class="container-fluid">
					<div class="row" style="margin-top:40px">
						<div class="col-xs-12 text-center">
						  <div class="text-center">
							<img src="../web/images/avantages_prix_l.png">
						    <img src="../web/images/avantages_prix_r.png">
						  </div>
						</div>
					</div>
				</div>
				
				<div class="container-fluid">
					<div class="row" style="margin-top:40px">
						<div class="col-xs-12 text-center">
						  <div class="text-center">
							<img src="../web/images/carte_membre.png">
						    <img src="../web/images/cash.png">
						  </div>
						</div>
					</div>
				</div>
				
				<!--
				<h1 class="text-center">Formule &laquo;Mixte&raquo;</h1>
				
				<div class="row">
				
					<div class="col-md-6 col-sm-6 col-sm-offset-3 zoom">
						<div class="bloc-tarif">
							<h2 class="header background-yellow">Premium</h2>
							<img class="center-block" src="../images/premium.png"/>
							<ul class="fa-ul tarif-description" style="text-align: left;font-size:16px">
							  <li><i class="fa-li fa fa-asterisk li-yellow"></i>
							    <span>Coaching Privé</span>
							  </li>
							  <li style="font-size:13px">
							    <span>x1 Coaching privé semaine</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-yellow"></i>
							    <span>Bilan de cond. physique</span>
							  </li>
							 <li style="font-size:13px">
								<span>Expertise & Analyse</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-yellow"></i>
							    <span>P.P.G / P.P.O / P.P.S</span>
							  </li>
							  <li style="font-size:13px">
								<span>Préparation Physique</span>
							  </li>
							  <li style="font-size:13px; margin-bottom:15px">
								<span>Générale/Orientée/Spécifique</span>
							  </li>
							</ul>
							<div class="prix background-yellow">
								<h3 class="prix-euros"><span class="prix-cents" style="vertical-align: baseline;font-size: 25%;margin-right:10px"></span><span style="line-height:1.2;">89<span class="prix-cents" style="vertical-align: super;font-size:40%;">€</span><span class="prix-cents" style="vertical-align: super;font-size: 40%;">90<span class="prix-cents" style="vertical-align: super;font-size: 35%;">TTC</span></span></span><span class="prix-month" style="font-size:25%;">par mois</span></h3>
							</div>
						</div>
					</div>
				</div>
				-->
				<h1 class="text-center"></h1>

				<div class="row" style="margin-top:100px;">

					<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 zoom">
						<!--<img src="../images/web_Fotolia_80961022_XXL_prix.jpg" alt="Location salle et matériel" class="img-responsive img-full-width">-->
						<div class="bloc-tarif">
							<h2 class="header background-light-purple">Location</h2>
							<div class="prix">
								<p>Location d'équipements et de salles, coaching privé, séminaires<br> sur Devis</p>
							</div>
						</div>
					</div>

				</div>

				<!--<div class="row subtextprix">
					<small>Frais de carte de membre, assurances et frais d’inscription pour toute nouvelle adhésion de 12 mois, s’élevant à 30€ TTC.</small>
				</div>-->

				<div class="text-center" style="margin-top:20px">
					<a href="Planning-Exaequo.pdf" class="btn btn-info" role="button" style="color:rgb(75, 11, 49);background-color: #fff; border-color: rgb(75, 11, 49); "><strong>Télécharger le planning des cours</strong></a>
				</div>

			</div>
			
		</section>
{% endblock %}
